body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgrey;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 600px;
    margin-bottom: 100px;
}
.linkBtn{
    text-decoration: none;
    background-image: linear-gradient(90deg, rgba(247,138,105,1) 0%, rgba(255,187,35,1) 50%, rgba(250,105,87,1) 100%);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.linkBtn:hover{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,135,45,1) 100%);
}
.height{
    line-height: 2rem;
    margin-bottom: 30px;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px ;
    border-radius: 5px;
    height: 70%;
    background-color: white;
    padding: 20px;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-steak{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato) ;
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}